__pycache__/
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
.venv
env/
venv/
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
# Results
results/logs/*
results/figures/*
!results/logs/.gitkeep
!results/figures/.gitkeep


# Data files (trop gros)
data/raw/*
data/offline_dataset/*
!data/raw/.gitkeep
!data/offline_dataset/.gitkeep
.pytest_cache/
.coverage
*.log
runs/
wandb/

# Notebooks
.ipynb_checkpoints/